<div class="main">
	<div class="container_12">
		<div>
			<strong>Lista de deseos</strong><br />
		</div>
		<div class="wrapper" id='gift_list_elements'>
			<%= render '/wishes/wish_list', :wishes=>@wishes%>
		</div>
	</div>
</div>
