<div class="main">
	<div class="container_12">
		<h2 class='indent-bot2'>
			Todos sus buenos deseos
		</h2>
		<div class="wrapper" id='gift_list_elements'>
			<%= render '/wishes/wish_list', :wishes=>@wishes%>
		</div>
	</div>
</div>
