<div class="main">
	<div class="container_12">
		<div class="wrapper">
			<div class='attendance_confirmed' style='display:none;'>Su asistencia ha sido confirmada</div>
			<article class="grid_8">
				<div class="indent-right">
					<h2 class="indent-bot2">Confirma tu Asistencia</h2>
					<%= form_tag confirmations_url, :remote=>true, :id=>'contact-form' do%>
						<fieldset>
							<label><span class="text-form">Nombre Familia</span>
								<input name="name" type="text">
							</label>
							<label><span class="text-form">Numero de Invitados</span>
								<input name="count" type="text">
							</label>
							<div class="wrapper">
								<div class="text-form">
									Mensaje
								</div>
								<div class="extra-wrap">
									<textarea name="message"></textarea>
									<div class="clear"></div>
									<div class="buttons">
										<a class="link-1" href="#" onclick="document.getElementById('contact-form').reset()">Limpiar</a>
										<input type='submit' class='link-1' name='confirmar' value='Confirmar' />
									</div>
								</div>
							</div>
						</fieldset>
					<% end %>
				</div>
			</article>
			<article class="grid_4">
				<div class="indent-left">
					<h2 class="indent-bot2">Dirección de la Ceremonia</h2>
					<div class="indent-bot">
						<figure class="img-border1">
							<iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=10.038003,-84.08798&amp;num=1&amp;t=h&amp;ie=UTF8&amp;ll=10.038077,-84.088068&amp;spn=0.025355,0.025749&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=10.038003,-84.08798&amp;num=1&amp;t=h&amp;ie=UTF8&amp;ll=10.038077,-84.088068&amp;spn=0.025355,0.025749&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">Ampliar mapa</a></small>
						</figure>
						<div class="clear"></div>
					</div>
					<dl>
						<dt class="p2">
							Iglesia de Los &Aacute;ngeles de San Rafael de Heredia
						</dt>
						<dd>
							<span>Tel&eacute;fonos:</span> 8711 4226 - 8729 9462
						</dd>
						<dd>
							
						</dd>
						<dd>
							<span>Email:</span><a href="#">bodarodrigomonica@evercoding.com</a>
						</dd>
					</dl>
				</div>
			</article>
		</div>
	</div>
</div>