<div class="main">
	<div class="slider-wrapper">
		<div class="slider">
			<ul class="items">
				<li>
					<img src="/assets/slider-img1.jpg?<%=rand(10000)%>" alt="" />
				</li>
				<li>
					<img src="/assets/slider-img2.jpg?<%=rand(10000)%>" alt="" />
				</li>
				<li>
					<img src="/assets/slider-img3.jpg?<%=rand(10000)%>" alt="" />
				</li>
			</ul>
		</div>
	</div>
</div>
	
<div class="main">
	<div class="container_12">
		<div class="wrapper">
			<article class="grid_6 our_history">
				<div class="indent-right">
					<h2>Nuestra Historia</h2>
					<p>
						Fue en el peque&ntilde;o pueblo de Mercedes Norte en Heredia, que un ni&ntilde;o mir&oacute; a una ni&ntilde;ita con un bello vestido naranja y sinti&oacute; que su coraz&oacute;n lat&iacute;a fuerte… ¡fue amor a primera vista!. Ese amor de infancia perdur&oacute; en secreto en el ni&ntilde;o por muchos a&ntilde;os.<br />
Una ma&ntilde;ana de viernes santo, el joven mir&oacute; que la damita de vestido naranja hab&iacute;a sufrido una transformaci&oacute;n y se hab&iacute;a convertido en una linda se&ntilde;orita y sinti&oacute; dentro de s&iacute; que ella se convertir&iacute;a en su esposa alg&uacute;n d&iacute;a.<br />
Sigui&oacute; pasando el tiempo, hasta que un d&iacute;a un amigo del muchacho mir&oacute; a la damita y le solicit&oacute; a &eacute;l ayuda para conquistarla. Fue la oportunidad perfecta para hablarle e invitarla a salir.<br />
Ese muchacho llamado Rodrigo se anim&oacute; a invitar a la damita a ir al cine, con tal de ayudar a su amigo. Ella se anim&oacute; a salir con &eacute;l y as&iacute; se convirtieron en grandes amigos.<br />
Hasta que un d&iacute;a Rodrigo le pidi&oacute; a su damita que fuera su novia y ella emocionada acept&oacute;. Pasaron 8 a&ntilde;os de grandes aventuras y juntos se ayudaron a crecer. Hasta que el 13 de julio del 2012, Rodrigo le entreg&oacute; una hermosa joya a M&oacute;nica, su damita. Con emoci&oacute;n se prometieron construir un futuro juntos, lleno de sue&ntilde;os, amor y esperanza.<br />
Lo que parec&iacute;a ser una historia de amor so&ntilde;ada, se convertir&aacute; el 07 de diciembre en una conquista alcanzada, un sue&ntilde;o hecho realidad, al recibir la bendici&oacute;n de Dios de formar una familia unida por el amor.<br />

					</p>
				</div>
			</article>
			<article class="grid_6">
				<div class="indent-left">
					<h2 class="indent-bot2">Nuestra Familia</h2>
					<div class="wrapper p3">
						<figure class="img-indent">
							<p class="p1">
								<a href="#"><img class="img-border1" src="/assets/page1-img1.jpg" alt=""></a><span class="clear"></span>
							</p>
							<span class="text-1">Rodrigo Rodriguez</span>
						</figure>
						<div class="extra-wrap">
							<blockquote class="q1">
								<span class="quote-marker1"></span>
								<div class="quote-bot">
									<div class="quote-top">
										<div class="quote">
											<div class="padding">
												<p class="p2">
													&quot;Un sue&ntilde;o no se forja de un d&iacute;a para otro, pero es de un d&iacute;a para otro que podemos tomar la determinaci&oacute;n de esforzarse para forjar ese sue&ntilde;o...<br />
													Hace mucho te ve&iacute;a desde mi ventana so&ntilde;ando que ser&iacute;as mi compa&ntilde;era, sin saber que unos a&ntilde;os despu&eacute;s podr&iacute;a alcanzar mi sue&ntilde;o y te convertir&iacute;as en mi Princesa amada. 
													&quot;
												</p>
											</div>
										</div>
									</div>
								</div>
							</blockquote>
						</div>
					</div>
					<div class="wrapper img-indent-bot">
						<figure class="img-indent-r">
							<p class="p1">
								<a href="#"><img class="img-border1" src="/assets/page1-img2.jpg" alt=""></a><span class="clear"></span>
							</p>
							<div class="alignright">
								<span class="text-1">Monica Vargas</span>
							</div>
						</figure>
						<div class="extra-wrap">
							<blockquote class="q2">
								<span class="quote-marker2"></span>
								<div class="quote-bot">
									<div class="quote-top">
										<div class="quote">
											<div class="padding">
												<p>
													&quot;Un sue&ntilde;o que sue&ntilde;as es s&oacute;lo un sue&ntilde;o. Un sue&ntilde;o que sue&ntilde;as con alguien es una realidad.&quot; (J. Lennon) <br />Te so&ntilde;&eacute; desde ni&ntilde;a, imaginaba un compa&ntilde;ero de vida que me hiciera re&iacute;r, que se aventurara conmigo a conquistar la vida. Fuiste mi sue&ntilde;o y después de un largo caminar, de aventuras, luchas y anhelos, mi sue&ntilde;o se hace realidad. Gracias por ser &quot;Mi Amor para Siempre&quot;
												</p>
											</div>
										</div>
									</div>
								</div>
							</blockquote>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</div>

<script type='text/javascript'>
	$(document).ready(function() {
		$(".fancybox-button").fancybox({
			prevEffect : 'none',
			nextEffect : 'none',
			closeBtn : true,
		});
	}); 
</script>