<div class="main">
	<div class="container_12">
		<h2 class='indent-bot2'>
			Nuestra lista de Bodas
		</h2>
		<div>
			A continuaci&oacute;n se presenta una lista de posibles regalos que nos pueden ser de mucha utilidad en nuestro hogar, de modo que si tienen el gusto de darnos alg&uacute;n presente, nos gustar&iacute;a que lo marquen para Regalar y ahí elija la cantidad que pensaban regalar. Todo esto con el fin de evitar que hayan m&uacute;ltiples personas que den semejantes regalos. 
		</div>
		<div class="wrapper gift_list" id='gift_list_elements'>
			<%= render '/gifts/gift_list', :gifts=>@gifts%>
		</div>
	</div>
</div>

<script type='text/javascript'>
	$(document).ready(function() {
		$(".markAsGifted").fancybox({
			prevEffect : 'none',
			nextEffect : 'none',
			closeBtn : true,
			beforeShow: function(){
				$('thankyou-ribbon').hide();
			}
		});
	}); 
</script>