<div class="main">
	<div class="container_12">
		<h2 class='indent-bot2'>
			Nuestra Lista de Sugerencias de Regalos
		</h2>
		<div>
			A continuaci&oacute;n se presenta una lista de sugerencias que nos pueden ser de mucha utilidad en nuestro hogar, 
			de modo que si tienen el gusto de darnos alg&uacute;n presente, podr&iacute;an elegir el de su preferencia (usando la opci&oacute;n de marcar para regalar)
			o bien, elegir cualquier otra opción que no est&eacute; en la lista.
			<p><strong>Para nosotros lo m&aacute;s importante no es un regalo, sino contar con su presencia</strong></p>
		</div>
		<div class="wrapper gift_list" id='gift_list_elements'>
			<%= render '/gifts/gift_list', :gifts=>@gifts%>
		</div>
	</div>
</div>

<script type='text/javascript'>
	$(document).ready(function() {
		$(".markAsGifted").fancybox({
			prevEffect : 'none',
			nextEffect : 'none',
			closeBtn : true,
			beforeShow: function(){
				$('thankyou-ribbon').hide();
			}
		});
	}); 
</script>