/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* Global properties ======================================================== */
html {width:100%;}
body {font-family:Arial, Helvetica, sans-serif;font-size:100%;color:#000;min-width:984px;background:#f8f8f8}
.ic {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}

#page3 {min-width:1034px;}

.main {
	width:984px; 	
	padding:0;
	margin:0 auto;
	font-size:14px;
	line-height:25px;
} 

a {color:#66B035; outline:none;}
a:hover {text-decoration:none;}

.col-1, .col-2 {float:left;}

.wrapper {width:100%; overflow:hidden;}
.extra-wrap {overflow:hidden;}
 
p {margin-bottom:18px;}
.p1 {margin-bottom:8px;}
.p2 {margin-bottom:15px !important;}
.p3 {margin-bottom:30px !important;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}

.reg {text-transform:uppercase;}

.fleft {float:left;}
.fright {float:right;}

.alignright {text-align:right;}
.aligncenter {text-align:center;}

.it {font-style:italic;}

.color-1 {color:#66B035;}
.color-2 {color:#7c7c7c;}

.img-border1 {
	float:left;
	padding:3px;
	background:#fff;
	border:1px solid #e5e5e5;
}

/*********************************boxes**********************************/
.indent {padding:0 15px;}
.indent-top {padding-top:5px;}
.indent-left {padding-left:30px;}
.indent-right {padding-right:35px;}

.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:18px;}
.indent-bot3 {margin-bottom:45px;}

.prev-indent-bot {margin-bottom:10px;}
.img-indent-bot {margin-bottom:25px !important;}
.margin-bot {margin-bottom:35px;}

.img-indent {float:left; margin:0 20px 0px 0;}	
.img-indent2 {float:left; margin:0 30px 0px 0;}	
.img-indent3 {float:left; margin:0 10px 0px 0;}	
.img-indent-r {float:right; margin:0 0px 0px 20px;}	

.buttons a:hover {cursor:pointer;}

.menu li a,
.list-1 li a,
.list-2 li a,
.link,
.button,
h1 a {text-decoration:none;}	

/*********************************header*************************************/
header {
	width:100%;
	background:#fff;
	position:relative; 
	z-index:2;
}

h1 {
	padding:36px 0 0 22px; 
	position:relative;
	overflow:hidden;
	margin-bottom:27px;
}
	h1 a {
		display:block;
		width:350px;
		height:88px;
		text-indent:-9999em;
		background:url(/assets/logo.png) 0 0 no-repeat;
		float:left;
		margin-right:18px;
	}
	h1 em {
		display:inline-block;
		font-family: 'PT Sans', sans-serif;
		font-size:15px;
		font-weight:400;
		line-height:2em;
		color:#888;
		text-transform:uppercase;
		padding-top:45px;
	}
	
	
/***** menu *****/
.menu-row {
	width:100%;
	padding:1px 0 5px;
	background:url(/assets/menu-row-tail.png) center top repeat-x;
}
	#page1 .menu-row {margin-bottom:22px;}
.menu {width:100%; background:url(/assets/menu-spacer.gif) left top no-repeat; overflow:hidden;}
.menu li {
	float:left; 
	position:relative;
	background:url(/assets/menu-spacer.gif) right top no-repeat;
}
.menu li a {
	display:inline-block; 
	height:60px;
	overflow:hidden;
	font-family: 'PT Sans', sans-serif;
	font-size:17px; 
	font-weight:400;
	line-height:59px; 
	padding:0 60px; 
	color:#fff; 
	text-transform:uppercase; 
}

.menu li a.active,
.menu > li > a:hover {background:url(/assets/menu-active-tail.gif) 0 0 repeat-x #66B035;}

/***** slider *****/
.slider-wrapper {
	width:952px;
	height:516px;
	padding:54px 0 0 32px;
	background:url(/assets/slider-bg.png) 0 0 no-repeat;
	overflow:hidden;
}
.slider {
	width:920px;
	height:454px;
}
.items {display:none;}

.pagination {
	position:absolute;
	left:418px;
	bottom:-62px;
	z-index:99;
}
	.pagination li {
		float:left;
		padding-right:6px;
	}
	.pagination a {
		display:block;
		width:24px;
		height:24px;
		background:url(/assets/slider-pagination.png) right top no-repeat;
		cursor:pointer;
	}
	.pagination li.current a {cursor:default;}
	.pagination li.current a,
	.pagination a:hover {background-position:left top;}

/*********************************content*************************************/
#content {
	width:100%; 
	padding:35px 0 53px;
	background:#fff;
	position:relative;
	z-index:1;
}

h2 {
	font-family: 'PT Sans', sans-serif;
	font-size:37px; 
	font-weight:700;
	line-height:1.2em; 
	color:#000;
	margin-bottom:15px;
	letter-spacing:-1px;
}
h3 {
	font-family: 'PT Sans', sans-serif;
	font-size:23px; 
	font-weight:700;
	line-height:2em; 
	color:#000;
	margin-bottom:7px;
}
h6 {color:#66B035;}

.tdate-1 {
	display:block;
	color:#7c7c7c;
	font-size:14px;
	line-height:20px;
}
	.tdate-1 a {color:#7c7c7c;}

.border-bot {
	width:100%; 
	padding-bottom:20px; 
	background:url(/assets/pic-4.gif) 0 bottom repeat-x;
}

.q1, .q2, .q3 {
	width:100%; 
	position:relative;
}
.quote-marker1 {
	display:block;
	width:15px;
	height:21px;
	background:url(/assets/pic-1.png) 0 0 no-repeat;
	position:absolute;
	top:30px;
	left:-1px;
	z-index:2;
}
.quote-marker2 {
	display:block;
	width:15px;
	height:21px;
	background:url(/assets/pic-2.png) 0 0 no-repeat;
	position:absolute;
	top:30px;
	right:0;
	z-index:2;
}
.q1 .quote-bot {
	padding-bottom:5px;
	padding-left:10px;
	background:url(/assets/quote-bot.jpg) right bottom no-repeat;
	position:relative;
	z-index:1;
}
.q2 .quote-bot {
	padding-bottom:5px;
	padding-right:10px;
	background:url(/assets/quote-bot.jpg) left bottom no-repeat;
	position:relative;
	z-index:1;
}
.quote-top {
	width:100%;
	padding-top:5px;
	background:url(/assets/quote-top.jpg) right top no-repeat;
}
.quote {
	width:100%;
	overflow:hidden;
	color:#7c7c7c;
	background:url(/assets/quote-tail.jpg) right top repeat-y;
}
	.quote .padding {padding:18px 25px 19px 30px;}

.q3 {
	background:url(/assets/pic-3.png) 0 3px no-repeat;
	color:#7c7c7c;
	font-style:italic;
	margin-bottom:17px;
}
.q3 .padding {padding:0 0 0 35px;}

/* -- gallery  begin --*/
#gallery {
	width:1034px;
	height:870px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}
#js {
	position:relative;
	width:940px;
	margin:0 auto;
	font-size:14px;
	line-height:25px;
}
 div.content {
	/* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
	display: none;
	width: 410px;
	height: 340px;
	overflow: hidden;
}
 div.content img {
	position: relative;
	z-index: 2;
}
 div.content a, div.navigation a {
	
}
 div.content a:focus, div.content a:hover, div.content a:active {
	
}
 div.controls {
	 position:relative;
}
 div.controls a {
	padding: 0px;
}
 div.ss-controls {
	float: left;
	display:none;
}
 div.nav-controls {
	width:100%;
	height:27px;
	position:absolute;
	left:0;
	bottom:56px;
}
div.nav-controls a.prev {
	display:block;
	width:27px;
	height:27px;
	background:url(/assets/gallery-prev.jpg) 0 0 no-repeat;
	text-indent:-9999em;
	position:absolute;
	top:0;
	left:-47px;
	z-index:99;
}
div.nav-controls a.next {
	display:block;
	width:27px;
	height:27px;
	background:url(/assets/gallery-next.jpg) 0 0 no-repeat;
	text-indent:-9999em;
	position:absolute;
	top:0;
	right:-47px;
	z-index:99;
}
 div.slideshow-container {
	position: relative;
	height: 620px; /* This should be set to be at least the height of the largest image in the slideshow */
	z-index:1;
	width:620px;
	margin-right:48px;
	float:left;
	
}
 div.loader {
	position: absolute;
	top: 0;
	left: 0;
	background-image:url(images/loader.gif);
	background-repeat: no-repeat;
	background-position: center;
	width: 592px;
	height: 470px; /* This should be set to be at least the height of the largest image in the slideshow */
}
 div.slideshow {
}
div.caption {
	width:100%;
	height:100%;
}
 div.slideshow span.image-wrapper {
	display: block;
	width: 620px;
	height: 620px;
	position:absolute;
	left:0;
	top:0;
	margin:0;
	padding:0;
}
 div.slideshow a.advance-link {
	display: block;
	width: 612px;
	height: 612px;
	padding: 3px;
	margin: 0;
	font-size:0;
	line-height:0;
	text-decoration:none;
	background:#fff;
	border:1px solid #e5e5e5;
}
 div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
	text-decoration: none;
}
 div.download {
	float: right;
}
 div.caption-container {
	 float:right; 
	 width: 270px;
	 height: 620px;
	 position:relative;
}
 span.image-caption {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0;
	z-index:10;
	background:#fff;
}
 div#thumbs {
	padding: 0;
	margin:0;
	width:100%;
}
 ul.thumbs {
	padding: 0 0 0 0;
	width:100%;
	overflow:hidden;
	position:relative;
}
 ul.thumbs li {
	float:left;
	margin-right:20px;
	width:140px;
}
ul.thumbs li.last {margin:0;}
	 ul.thumbs li span {
		 display:block;
		 font-size:15px;
		 line-height:1.2em;
		 color:#f9f9f9;
		 text-transform:uppercase;
		 font-weight:bold;
	}
 a.thumb {
	 display:block;
	 width:132px;
	 height:132px;
	 padding:3px;
	 background:#fff;
	 border:1px solid #e5e5e5
}
 a.thumb:focus {
	outline: none;
}
#controls {
	width:100%;
}

 div.pagination {
	clear: both;
	text-align:center;
	position:relative;
	z-index:10;
}
 div.top.pagination {
	display:none;
}
 div.navigation div.bottom {
	 display:none;
}
 div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	padding:0 4px;
	font-weight:bold;
	color:#fff;
}
 div.pagination a:hover {
	text-decoration: none;
	color:#ffeaa8;
}
 div.pagination span.current {
	color:#ffeaa8;
}
 div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}
/* -- gallery end --*/


.list-1 li {
	line-height:20px; 
	padding:5px 0 5px 15px; 
	background:url(/assets/marker-1.gif) 0 12px no-repeat;
}
	.list-1 li a {
		display:inline-block;
		color:#7c7c7c;
	}
	.list-1 li a:hover {color:#66B035; text-decoration:underline;}

.link:hover {text-decoration:underline;} 

.link-1 {
	display:inline-block; 
	line-height:27px; 
	padding-left:39px; 
	background:url(/assets/marker-2.gif) 0 0px no-repeat;
}
.link-1:hover {text-decoration:none;} 

.text-1 {display:block; color:#66B035;} 
.text-2 {display:block; color:#000; font-style:normal !important;}  

dl span {float:left; width:98px; font-weight:bold;}

/***** contact form *****/
#contact-form {
	display:block;
	width:100%;
}
	#contact-form label {
		display:block; 
		height:40px; 
		overflow:hidden;
	}
	#contact-form input {
		float:left; 
		width:400px; 
		font-size:12px; 
		line-height:1.25em;
		color:#000;
		padding:7px 9px 6px; 
		margin:0; 
		font-family:Arial, Helvetica, sans-serif; 
		border:1px solid #e5e5e5; 
		background:#fff;
		outline:none;
	}
  
  #contact-form input.link-1 {
    float:none; 
    width:115px; 
    line-height:1em;
    padding:7px 9px 6px 28px; 
    margin:0 0 0 15px;
    font-family:Arial, Helvetica, sans-serif; 
    border:none; 
    background:url(/assets/marker-2.gif) 0 0px no-repeat;
    color: #66B035;
    text-decoration: underline;
    font-size:14px;
    outline: medium none;
    cursor: pointer;
  }
  
  #contact-form input.link-1:hover {
    text-decoration: none;
  }
  
	#contact-form textarea {
		float:left;
		height:250px; 
		width:400px;
		max-height:250px; 
		max-width:400px;
		font-size:12px; 
		line-height:1.25em;
		color:#000;
		padding:7px 9px; 
		margin:0; 
		font-family:Arial, Helvetica, sans-serif; 
		border:1px solid #e5e5e5; 
		background:#fff;
		overflow:auto;
		outline:none;
	}
.text-form {
	float:left; 
	display:block; 
	font-size:14px;
	line-height:30px;
	width:165px; 
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
}

.buttons {padding:13px 10px 0 0; text-align:right;}
.buttons a {margin-left:25px;}
		
/****************************footer************************/
footer {
	width:100%; 
	padding:38px 0 50px;
	background:url(/assets/footer-tail.gif) center top repeat-x;
}

footer cite {
  float: right;
}

.list-services {
	padding:7px 6px 0 0px;
	float:right;
}
	.list-services li {
		float:left; 
		padding:0 9px 0 0;
	}
	.list-services a {
		display:block;
		width:41px;
		height:46px;
		text-indent:-9999em;
		background:url(/assets/social-icons.png) 0 0 no-repeat;
	}
	.list-services .item-2 {background-position:-50px 0;}
	.list-services .item-3 {background-position:-100px 0;}
	
.footer-text {
	display:block;
	text-align:center;
	padding-right:43px;
	clear: both;
	font-size: 15px;
	font-weight: bold;
}
.footer-text span {display:block;}
	
article.gift_items{
  padding-top: 12px;
  padding-bottom: 12px;
}

.gift_items {
  h4, span {
    padding-left: 15px;
  }
}

.gift_items a.markAsGifted {
    background: none repeat scroll 0 0 #66b035;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    display: block;    
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    margin: 15px auto 20px;
    text-align: center;
    padding: 8px 0;
    width: 80%;
    min-width: 200px;
    text-transform: uppercase;
    text-decoration: none;
}
.gift_items span.alreadyGifted{
  background:#bcd2ad;
  border-radius:4px;
  display:block;
  font-family: 'PT Sans', sans-serif;
  font-weight:bold;
  color:#FFF;
  margin: 15px auto 20px;
  text-align: center;
  padding: 8px 0;
  width: 80%;
  min-width: 200px;
  text-transform: uppercase;
  text-decoration: none;
}
.gift_items a.markAsGifted:active{ position:relative; top:1px; }

.gift_popup {
  width: 400px;
  font-size: 14px;
  h4 {p.gift_description {
    background: url("/assets/pic-3.png") no-repeat #f9fff5;
    font-size: 14px; 
    padding: 10px 30px 10px 30px;
    margin-top: 5px;
    position: relative;
    text-align: center;
    span.close_quote{
      background: url("/assets/pic-4.png") no-repeat;
      display:inline-block;
      width:25px; 
      height: 25px; 
      position: absolute; 
      bottom:0;
      right:0px
    }
  }
    font-size:18px;
    margin-bottom: 5px;
  }
  form{
    margin: 10px auto;
  }
  p.gift_description {
    background: url("/assets/pic-3.png") no-repeat #f9fff5;
    font-size: 14px; 
    padding: 10px 30px 10px 30px;
    margin-top: 5px;
    position: relative;
    text-align: center;
    span.close_quote{
      background: url("/assets/pic-4.png") no-repeat;
      display:inline-block;
      width:25px; 
      height: 25px; 
      position: absolute; 
      bottom:0;
      right:0px
    }
  }
  label {
    margin-bottom: 5px;
  }
  textarea{
    margin-top:5px;
  }
  
  input[type="submit"] {
    background: none repeat scroll 0 0 #66b035;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    margin: 18px auto 10px;
    outline: medium none;
    display: block;
    text-transform: uppercase;
    width: 200px;
  }
}

/*div.wish_description_container{
  padding: 10px;
  background-color: #f9fff5;
  border: 1px solid red;*/
  p.wish_description {
    background: url("/assets/pic-3.png") no-repeat scroll 10px 8px #F9FFF5;
    box-shadow: 2px 2px 2px #A6CF8A;
    -moz-box-shadow: 2px 2px 2px #A6CF8A;
    -webkit-box-shadow: 2px 2px 2px #A6CF8A;
    border: 1px solid #66B035;
    font-size: 14px; 
    padding: 20px 30px;
    margin-top: 5px;
    position: relative;
    text-align: center;
    span.close_quote{
      background: url("/assets/pic-4.png") no-repeat;
      display:inline-block;
      width: 16px; 
      height: 25px; 
      position: absolute; 
      bottom:5px;
      right:0px
    }
  }
//}
.gift_popup input[type="submit"]:active{
  position:relative;
  top:1px;
}

.welcomedline {
    background: url("/assets/doubleline.png") repeat-x scroll 0 0 transparent;
    float: left;
    height: 4px;
    margin: 2px 0 10px;
    position: relative;
    width: 100%;
  text-align:center;
}

.wrapper.gift_list{
  margin: 20px 0;
  //background-color: #d4c7b8;
  box-shadow: 5px 5px 5px 3px #D4C7B8;
  -moz-box-shadow: 5px 5px 5px 3px #D4C7B8;
  -webkit-box-shadow: 5px 5px 5px 3px #D4C7B8;
}

.attendance_confirmed{
  font-size:15px; 
  background-color: #88b868; 
  color: white; 
  border: 1px solid green; 
  padding:10px;
  text-align:center;
  width:70%;
  margin: 0 auto 20px;
  font-family: "PT Sans",sans-serif, Arial, Helvetica;
  box-shadow: 3px 3px 3px 1px #A6CF8A;
  -moz-box-shadow: 3px 3px 3px 1px #A6CF8A;
  -webkit-box-shadow: 3px 3px 3px 1px #A6CF8A;
}

.attendance_with_errors{
  font-size:15px; 
  background-color: #FF7373; 
  color: white; 
  border: 1px solid red; 
  padding:10px;
  text-align:center;
  width:70%;
  margin: 0 auto 20px;
  font-family: "PT Sans",sans-serif, Arial, Helvetica;
  box-shadow: 3px 3px 3px 1px #FAC5C5;
  -moz-box-shadow: 3px 3px 3px 1px #FAC5C5;
  -webkit-box-shadow: 3px 3px 3px 1px #FAC5C5;
}

.gift_item_description{
  height: 90px;
  padding-left: 15px
}
