<footer>
	<div class="main">
		<div class="container_12">
			<div class="wrapper">
				<div class="grid_12">
					<blockquote>"El amor es paciente y muestra comprensión. El amor no tiene envidia. No actúa con bajeza ni busca su propio interés, no se deja llevar por la ira y olvida lo malo. No se alegra de lo injusto, sino que se goza en la verdad. Perdura a pesar de todo, lo cree todo, lo espera todo y lo soporta todo. El amor nunca pasará"</blockquote>
					<cite>Corintios 13, 4-8</cite>
					<span class="footer-text"> <span>Rodrigo y M&oacute;nica - 2013</span> </span>
				</div>
			</div>
		</div>
	</div>
</footer>