<footer>
	<div class="main">
		<div class="container_12">
			<div class="wrapper">
				<div class="grid_5">
					<span class="footer-text"> <span>Rodrigo y M&oacute;nica &copy; <%= Date.today.year %></span> </span>
				</div>
			</div>
		</div>
	</div>
</footer>